<section>
    <h1>Characters</h1>
    <p>{{hurryUpMessages[currentHurryUpMessageIndex]}}</p>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Choose a character
            </mat-card-title>
            <mat-card-subtitle>
                Click at any of them to see detailed information
            </mat-card-subtitle>

        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <ivl-resumed-character-info *ngFor="let character of characters" [character]="character">
                </ivl-resumed-character-info>
            </mat-list>
        </mat-card-content>
    </mat-card>
</section>