<section>
    <ivl-swatitle title="Characters" subtitle={{hurryUpMessages[currentHurryUpMessageIndex]}}></ivl-swatitle>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Choose a character
            </mat-card-title>
            <mat-card-subtitle>
                Click at any of them to see detailed information
            </mat-card-subtitle>

        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <div *ngFor="let character of characters">
                    <a [routerLink]="[character.id]">
                        <ivl-resumed-character-info [character]="character"></ivl-resumed-character-info>
                    </a>
                </div>
            </mat-list>
        </mat-card-content>
        <button (click)="loadNextPage()" mat-stroked-button color="primary">See more</button>
    </mat-card>
</section>