<section>
    <ivl-swatitle title="Character" subtitle=""></ivl-swatitle>
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{character.name}}</mat-card-title>
            <mat-card-subtitle>Birth: {{character.birth_year}}</mat-card-subtitle>

        </mat-card-header>
        <mat-card-content>
            <ivl-swaloader [loading]="loadingCharacter"></ivl-swaloader>
            <mat-list>
                <mat-list-item>Gender: {{character.gender}} <i class="fas" [ngClass]="character.genderSymbol"></i></mat-list-item>
                <mat-list-item>Height: {{character.height}} cm</mat-list-item>
                <mat-list-item>Mass: {{character.mass}}</mat-list-item>
                <mat-list-item>Hair color: {{character.hair_color}}</mat-list-item>
                <mat-list-item>Skin: {{character.skin_color}}</mat-list-item>
                <mat-list-item>Eye: {{character.eye_color}}</mat-list-item>
            </mat-list>

            <mat-accordion>
                <mat-expansion-panel hideToggle [disabled]="starships.length == 0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i class="fas fa-rocket"></i>
                            Starships: {{character.starships.length}} 
                        </mat-panel-title>
                        <ivl-swaloader [loading]="loadingStarships"></ivl-swaloader>
                    </mat-expansion-panel-header>
                    <mat-list>
                            <ivl-resumed-starship-info *ngFor="let starship of starships" [starship]=starship></ivl-resumed-starship-info>
                    </mat-list>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</section>