<section class="container">
    <ivl-swasky></ivl-swasky>
    <ivl-swatitle title="Character" subtitle=""></ivl-swatitle>
    <mat-card class="character-info container__content">
        <mat-card-header>
            <div mat-card-avatar 
            *ngIf="character.id"
            [ngStyle]="{'background-image': 'url(' + character.picture +')'}"
            class="character-info__picture"></div>
            <mat-card-title>{{character.name}}</mat-card-title>
            <mat-card-subtitle>Birth: {{character.birth_year}}</mat-card-subtitle>
        </mat-card-header>
        <div class="container__relative-container">
            <mat-card-content >
                <mat-tab-group class="container__card-content">
                    <mat-tab label="About">
                        <mat-list>
                            <mat-list-item><b>Gender:</b> <span
                                    class="character-info__list-value-text">{{character.gender}} </span><i class="fas"
                                    [ngClass]="character.genderSymbol"></i>
                            </mat-list-item>
                            <mat-list-item><b> Height:</b> <span
                                    class="character-info__list-value-text">{{character.height}}</span> cm
                            </mat-list-item>
                            <mat-list-item><b>Mass:</b> <span
                                    class="character-info__list-value-text">{{character.mass}}</span></mat-list-item>
                            <mat-list-item><b>Hair color:</b> <span
                                    class="character-info__list-value-text">{{character.hair_color}}</span>
                            </mat-list-item>
                            <mat-list-item><b>Skin:</b> <span
                                    class="character-info__list-value-text">{{character.skin_color}}</span>
                            </mat-list-item>
                            <mat-list-item><b>Eye:</b> <span
                                    class="character-info__list-value-text">{{character.eye_color}}</span>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                    <mat-tab label="Starships: {{character.starships.length}}">
                        <mat-list>
                            <ivl-resumed-starship-info *ngFor="let starship of starships" [starship]=starship>
                            </ivl-resumed-starship-info>
                        </mat-list>
                    </mat-tab>
                    
                </mat-tab-group>



            </mat-card-content>
            <ivl-swaloader [loading]="loadingCharacter"></ivl-swaloader>
        </div>
    </mat-card>
</section>