.swatitle {
  position: relative;
  color: white;
  text-align: center;
  padding: 20px;
  &__h1 {
    font-size: 35px;
    font-family: "starwarsjedi";
    color: #cec341;
    outline: none;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    opacity: 0.8;
  }
  &__main-icon {
    display: block;
    font-size: 3em;
    opacity: 0.8;
  }
  &__navigate-back {
    display: block;
    color: inherit;
    &--small-screen {
      font-size: 30px;
      text-decoration: none;
    }
    &--large-screen {
      position: absolute;
      bottom: 0;
    }
  }
}
